.box{
    height:200px;
    max-width:auto;
    border-radius: 12px;
    background-image: linear-gradient(45deg, rgb(198, 6, 73),rgb(4, 73, 201));
    box-sizing: border-box;
    justify-content: center;
    padding-top: 45px;
    
   
}
body{
    background-color: rgba(6, 22, 48, 0.989);
}
#span{
    max-width: 100%;
    text-align: center;
  }

h{ 
    font-size: 50px;
    font-weight: bold;
    font-family:monospace;
    color: rgb(238, 228, 234);
    text-shadow:2px 2px  #050505;
  }

.plus{
    height:35px ;
    width: 45px;
    border:solid 3px rgb(255, 0, 166);
    padding: none;
    background-color:transparent;
}
.plus:hover{ background-color:rgba(216, 95, 156, 0.302);}

form{
    position: relative;
    align-items: center;
    height: 70px;
    margin-top: 65px;
    margin-left: 30%;
    visibility: hidden;
}
input{
    height: 50px;
    width:50%;
    font-size:20px;
    outline: none;
}

.btn{ 
  
    position: absolute;
    height: 50px;
    width: 60px;
    border:3px solid hotpink;
    box-sizing: border-box;
    background-color:hotpink;
    font-family:system-ui;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}
.btn:hover{
    background-color:rgb(255, 41, 148);
}
 
.btn1 {
    background-color: transparent;
    height: 60px;
    width: 60px; 
    font-size: 20px;
    float: right;
    border: none;
}
  
  .btn1:hover {
    background-image:linear-gradient(45deg, #ff1302,rgb(250, 130, 130));
    color: white;
  }

.box1{
  margin: auto;
  justify-content: center;
  display: flex;
}
ul{
    
    box-shadow: 0 12px 32px 0 rgba(31, 54, 135, 0.706);
    backdrop-filter: blur( 97px );
    border-radius: 10px;
    border: 0.1px solid rgba( 255, 255, 255, 0.18 );
    background-color: rgba(255, 255, 255, 0.084);
    box-sizing: border-box;
    height: auto;
    width:1000px;
    display:block;
    list-style: none;
    margin-top: 35px;
padding-top: 40px;
padding-bottom: 40px;
}

li{
    
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: rgb(208, 166, 208);
    border-radius: 11px;
    height: 55px;
    width: 96%;
    font-size: 2vw;
    font-family: system-ui;
    cursor: pointer;
    margin-top: 5px;
    overflow: hidden;
   padding-left: 70px;

}
li:hover{
    background-color: rgb(205, 188, 200);
}

 
ul li.checked{
    background-color: rgb(137, 137, 137);
    text-decoration: line-through;
 }
 
 ul li.checked::before {
     content: '';
     position: absolute;
     border:solid  rgb(43, 255, 1);
     border-width: 0 3px 3px 0;
     transform: rotate(45deg);
     height: 25px;
     width: 8px;
     margin-left: -50px;
     margin-top: 8px;
   }